<a href="https://colab.research.google.com/github/Diandra2607/DJIA/blob/main/ETL_DJIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pathlib
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import sqlite3

In [ ]:
DJIA = pd.read_csv('/content/upload_DJIA_table.csv')
DJIA.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234
2,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688
3,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703
4,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234

In [ ]:
DJIA.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [ ]:
DJIA.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

In [ ]:
DJIA.isna().values

DJIA.isna().values.any()

False

In [ ]:
DJIA['Date'] = pd.to_datetime(DJIA['Date'])

In [ ]:
DJIA['Daily_Return'] = DJIA['Close'].pct_change()

In [ ]:
DJIA['Daily_Return'].fillna(0, limit=2, inplace=True)

<ipython-input-27-1ef9e298d8b6>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  DJIA['Daily_Return'].fillna(0, limit=2, inplace=True)

In [ ]:
DJIA['Volatility'] = DJIA['Daily_Return'].rolling(window=20).std()

In [ ]:
DJIA['Volatility'].fillna(0, limit=20, inplace=True)

<ipython-input-29-3e4cf2ffd016>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  DJIA['Volatility'].fillna(0, limit=20, inplace=True)

In [ ]:
print(DJIA.head(25))

         Date          Open          High           Low         Close  \
0  2016-07-01  17924.240234  18002.380859  17916.910156  17949.369141
1  2016-06-30  17712.759766  17930.609375  17711.800781  17929.990234
2  2016-06-29  17456.019531  17704.509766  17456.019531  17694.679688
3  2016-06-28  17190.509766  17409.720703  17190.509766  17409.720703
4  2016-06-27  17355.210938  17355.210938  17063.080078  17140.240234
5  2016-06-24  17946.630859  17946.630859  17356.339844  17400.750000
6  2016-06-23  17844.109375  18011.070312  17844.109375  18011.070312
7  2016-06-22  17832.669922  17920.160156  17770.359375  17780.830078
8  2016-06-21  17827.330078  17877.839844  17799.800781  17829.730469
9  2016-06-20  17736.869141  17946.359375  17736.869141  17804.869141
10 2016-06-17  17733.439453  17733.439453  17602.779297  17675.160156
11 2016-06-16  17602.230469  17754.910156  17471.289062  17733.099609
12 2016-06-15  17703.650391  17762.960938  17629.009766  17640.169922
13 2016-06-14  17710.769531  17733.919922  17595.789062  17674.820312
14 2016-06-13  17830.500000  17893.279297  17731.349609  17732.480469
15 2016-06-10  17938.820312  17938.820312  17812.339844  17865.339844
16 2016-06-09  17969.980469  18005.220703  17915.880859  17985.189453
17 2016-06-08  17931.910156  18016.000000  17931.910156  18005.050781
18 2016-06-07  17936.220703  18003.230469  17936.220703  17938.279297
19 2016-06-06  17825.689453  17949.679688  17822.810547  17920.330078
20 2016-06-03  17799.800781  17833.169922  17689.679688  17807.060547
21 2016-06-02  17789.050781  17838.560547  17703.550781  17838.560547
22 2016-06-01  17754.550781  17809.179688  17664.789062  17789.669922
23 2016-05-31  17891.500000  17899.240234  17724.029297  17787.199219
24 2016-05-27  17826.849609  17873.220703  17824.730469  17873.220703

       Volume     Adj Close  Daily_Return  Volatility
0    82160000  17949.369141      0.000000    0.000000
1   133030000  17929.990234     -0.001080    0.000000
2   106380000  17694.679688     -0.013124    0.000000
3   112190000  17409.720703     -0.016104    0.000000
4   138740000  17140.240234     -0.015479    0.000000
5   239000000  17400.750000      0.015199    0.000000
6    98070000  18011.070312      0.035074    0.000000
7    89440000  17780.830078     -0.012783    0.000000
8    85130000  17829.730469      0.002750    0.000000
9    99380000  17804.869141     -0.001394    0.000000
10  248680000  17675.160156     -0.007285    0.000000
11   91950000  17733.099609      0.003278    0.000000
12   94130000  17640.169922     -0.005240    0.000000
13   93740000  17674.820312      0.001964    0.000000
14  101690000  17732.480469      0.003262    0.000000
15   90540000  17865.339844      0.007492    0.000000
16   69690000  17985.189453      0.006708    0.000000
17   71260000  18005.050781      0.001104    0.000000
18   78750000  17938.279297     -0.003708    0.000000
19   71870000  17920.330078     -0.001001    0.011538
20   82270000  17807.060547     -0.006321    0.011624
21   75560000  17838.560547      0.001769    0.011631
22   78530000  17789.669922     -0.002741    0.011249
23  147390000  17787.199219     -0.000139    0.010568
24   73190000  17873.220703      0.004836    0.009839

In [ ]:
DJIA.to_csv('DJIA_RESULTS.csv', index=False)
DJIA.to_excel('DJIA_RESULTS.xlsx', index=False)

In [ ]:
conn = sqlite3.connect('DJIA.db')

DJIA.to_sql('DJIA_RESULTS', conn, if_exists='replace', index=False)

conn.commit()
conn.close()

print("Data successfully loaded into the database.")

Data successfully loaded into the database.